
json Preroll {
    url: str
    priority int
}

json Vast {
    preroll (array)str
    prerolls (array)Preroll
    pauseroll (array)str
    pauserolls (array)Preroll // same structure
}

json Item {
    cvhId str
    name str
    vkId str
    voiceStudio str
    voiceType str
    season int
    episode int
}

json CdnVideoHubResponse {
    titleName str
    isSerial bool
    items (array)Item
    trailers str? // unknown type
    vast Vast
}

json CdnVideoHubError {
    // 	{"error": "wrong pub"}	
    error str
}

json VideoSource {
    hlsUrl str
    dashUrl str
    mpegQhdUrl str
    mpeg2kUrl str
    mpeg4kUrl str
    mpegHighUrl str
    mpegFullHdUrl str
    mpegMediumUrl str
    mpegLowUrl str
    mpegLowestUrl str
    mpegTinyUrl str
}


json CdnVideoFromIdResponse {
    unitedVideoId int
    duration int
    failoverHost str
    thumbUrl str
    sources VideoSource
}

(rest)struct CdnVideoHubAPI {
    @doc "get required arguments from PageParseCdnVideoData structure"

    @request \
        name=get-params-from-page \
        response=CdnVideoHubResponse \
        """
        curl 'https://plapi.cdnvideohub.com/api/v1/player/sv/playlist?pub={{pub}}&aggr={{aggr}}&id={{id}}' \
        -H 'Accept: application/json, text/plain, */*'
        """
    // required pass user-agent where used in original code
    @request \
        name=from_vkid \
        response=CdnVideoFromIdResponse \
        """
        curl https://plapi.cdnvideohub.com/api/v1/player/sv/video/{{id}}
        -H 'Accept: application/json, text/plain, */*'
        """

    @error 400 CdnVideoHubError
}

/* tag signature:
<div class="player-cvh">
<video-player
    id="pcvh"
    data-title-id="60254"  // id=
    data-publisher-id="746"  // pub=746
    ident="cvh"
    data-aggregator="mali"  // aggr=
    is-show-voice-only="true"
    is-show-banner="true"
    episode="1"
    priority-voice="Dream Cast"
></video-player>
*/
struct PageAnimegoIframe {
// backport for actual realisation
// need delete it in next revisions and use `PageParseCdnVideoData`
    @doc """
A parser for extracting parameters for the cdnvideohub API.

used in animego

USAGE:

    - data_title_id for 'id=' param
    - data_publisher_id for 'pub=' param
    - data_aggregator for 'aggr=' param

GET https://plapi.cdnvideohub.com/api/v1/player/sv/playlist?pub={data_publisher_id}&aggr={data_aggregator}&id={id}

EXAMPLE:

    GET https://animego.me/cdn-iframe/60254/Dream%20Cast/1/1
    Referer: https://animego.me
"""

    @init {
        tag { css ".player-cvh > video-player" }
    }
    @request "curl https://plapi.cdnvideohub.com/api/v1/player/sv/playlist?pub={{data_publisher_id}}&aggr={{data_aggregator}}&id={{id}}"

    id { @tag; attr id }
    data-title-id { @tag; attr data-title-id }
    data-publisher-id { @tag; attr data-publisher-id }
    ident { @tag; attr ident }
    data-aggregator { @tag; attr data-aggregator }
    is-show-voice-only { 
        @tag; attr is-show-voice-only
        assert { eq "true" }
        to-bool
        fallback #false
    }
    is-show-banner {
        @tag; attr is_show_banner
        assert { eq "true" }
        to-bool
        fallback #false
    }
    episode { @tag; attr episode; to-int }
    priority-voice { @tag; attr priority-voice }
}

struct PageParseCdnVideoData {
    @doc """
    universal extractor cdnvideohub API params

    page should be contains <video-player> tag
    """
    @init {
        tag { css "video-player" }
    }

    id { @tag; attr id }
    data-title-id { @tag; attr data-title-id }
    data-publisher-id { @tag; attr data-publisher-id }
    ident { @tag; attr ident }
    data-aggregator { @tag; attr data-aggregator }
}