@doc """

Thanks https://github.com/barsikus007 for researches and decoder impl

NOTE: for extract Search and Ongoing items use rest-api requests

Ongoing:
        POST https://dreamerscast.com/"
        {'search': "", "status": "", "pageSize": 16, 'pageNumber': 1}

Search:

    POST https://dreamerscast.com/"
    {'search': "<QUERY>", "status": "", "pageSize": 16, 'pageNumber': 1}


For extract playlist required reverse obfuscated playlist data and obfuscated javascript player
"""


define FMT-URL="https://dreamerscast.com{{}}"
define RE-PLAYER-JS-ENCODED=#"new Playerjs\("(.*?)"\)"#
define RE-PLAYER-JS-URL=#"<script[^>]+src="(/js/playerjs.*?)""#

struct PageAnime {
    @doc """
    Usage example:

    GET https://dreamerscast.com/home/release/323-tensei-kizoku-kantei-skill-de-nariagaru-2

    Encoding (24.12.24 actual step-by-step)

    decoding and extract playlist:

    - GET <player_js_url>
    - unpack, extract encoded symbols
    - by <player_js_encoded> and <player_js_url> values decrypt it (implement logic from original player sources)
    """

    title { css "h3"; text }
    description { css ".postDesc"; text; fallback #null }
    thumbnail { css ".details_poster img"; attr src; fmt "https:{{}}" }
    player_js_encoded { raw; re RE-PLAYER-JS-ENCODED}
    player_js_url { raw; re RE-PLAYER-JS-URL; fmt FMT-URL}
}