// maybe changed domain
// specific anime code=82
define REQUEST-ONGOING="curl 'https://hdrezka-home.tv/?filter=last&genre=82'"
define REQUEST-SEARCH="curl 'https://hdrezka-home.tv/search/?do=search&subaction=search&q={{query}}'"
define REQUEST-ANIME="curl 'https://hdrezka-home.tv/animation/{{slug}}.html'"
define REQUEST-ANIME-FULL="curl '{{anime-url}}'"

// NOTE:
// DO NOT ADD user-agent headers: this override anubis path bypass

// series episode stream
// --data-raw 'id=20157&translator_id=56&season=1&episode=2&favs=749e494f-5661-4317-9bd5-d55bd3a28c00&action=get_stream'
define REQUEST-SOURCES="""
curl 'https://hdrezka-home.tv/ajax/get_cdn_series/?t={{timestamp:int}}' \
  -X POST \
  -H 'Accept: application/json, text/javascript, */*; q=0.01' \
  -H 'Content-Type: application/x-www-form-urlencoded; charset=UTF-8' \
  -H 'X-Requested-With: XMLHttpRequest' \
  -H 'Origin: https://hdrezka-home.tv' \
  --data-raw 'id={{id}}&translator_id={{translator_id}}&season={{season}}&episode={{episode}}&favs={{favs}}&action=get_stream'
"""

// movie stream (no season/episode params, action=get_movie)
// --data-raw 'id=17924&translator_id=59&favs=fd5bbb39-b517-4e35-b0f4-e92bd49ba234&action=get_movie'
define REQUEST-SOURCES-MOVIE="""
curl 'https://hdrezka-home.tv/ajax/get_cdn_series/?t={{timestamp:int}}' \
  -X POST \
  -H 'Accept: application/json, text/javascript, */*; q=0.01' \
  -H 'Content-Type: application/x-www-form-urlencoded; charset=UTF-8' \
  -H 'X-Requested-With: XMLHttpRequest' \
  -H 'Origin: https://hdrezka-home.tv' \
  --data-raw 'id={{id}}&translator_id={{translator_id}}&favs={{favs}}&action=get_movie'
"""

(list)struct PageOngoing {
    @doc """
    Get all available ongoings from the main page

    USAGE
        GET https://hdrezka-home.tv/?filter=last&genre=82
    """

    @split-doc { css-all ".b-content__inline_item" }
    @request REQUEST-ONGOING

    title { css ".b-content__inline_item-link a"; text; trim }
    // maybe exclude tag. eg: OVA, films
    // https://hdrezka-home.tv/animation/adventures/88408-devushki-i-tanki-bitva-komandirov-ova-2024.html
    season { css "span.info"; text; fallback "" }
    thumbnail { css ".b-content__inline_item img[src]"; attr src }
    url { css "a[href]"; attr href }
}


(list)struct PageSearch {
    @doc """
    USAGE
        GET https://hdrezka-home.tv/search/
        do=search&subaction=search&q={query}

    EXAMPLE
    https://hdrezka-home.tv/search/?do=search&subaction=search&q=isekai
    """
    /* sig:
    <div class="b-content__inline_item" 
    data-id="88313" 
    data-url="https://hdrezka-home.tv/animation/....html"> ... </div> 
    */ 
    @split-doc { 
                css-all ".b-content__inline_item"
                // do not collect non-anime items
                filter {
                    has-attr data-url
                    attr-contains data-url "/animation/"
                } }
    @request REQUEST-SEARCH
    
    title { css ".b-content__inline_item-link a"; text; trim }
    season { css "span.info"; text; fallback "" }
    thumbnail { css ".b-content__inline_item img[src]"; attr src }
    url { css "a[href]"; attr href }

}

(list)struct Translation {
    @split-doc { css-all "#translators-list > li.b-translator__item"}

    title { attr "title" }
    data-translator_id { attr "data-translator_id" }
}

(list)struct SeasonBox {
    @split-doc {
        css-all "#simple-seasons-tabs > .b-simple_season__item"
    }
    data-tab_id { attr "data-tab_id" }
    title { text; trim }
}

(list)struct Episode {
    @split-doc {
        css-all ".b-simple_episodes__list .b-simple_episode__item"
    }

    data-id { attr data-id; to-int }
    data-season_id { attr data-season_id; to-int }
    data-episode_id { attr data-episode_id; to-int }
    title { text; trim }

}

struct PageAnime {
    @doc #"""
    USAGE
        GET https://hdrezka-home.tv/animation/<NAME>.html

    EXAMPLE
        GET https://hdrezka-home.tv/animation/drama/20157-eksperimenty-leyn-1998.html

    NOTE: 
        1. videos required post extract manually

        videos item format (comma separated):
        "[{int}p (Ultra)?]https://...manifest.m3u8 or https://...mp4,[...."

        2. for extract episodes, use next endpoint:

        POST /ajax/get_cdn_series/?t=1775300155352 HTTP/1.1
        Host: hdrezka-home.tv
        X-Requested-With: XMLHttpRequest
        Origin: https://hdrezka-home.tv
        Connection: keep-alive
        Referer: https://hdrezka-home.tv/animation/fiction/88328-daybaster-dotyanis-do-neba-2-2004.html
    
        id=88328&translator_id=56&season=1&episode=2&favs=aaaaaaaa-bbbb-cccc-dddd-0123456789ab&action=get_stream

        > id, translator_id, season, episode search in 'episode_list', 'season_box', 'translation-list' structs, favs from favs field
    """#
    /* fallback if include only one dubber and translation-list is empty
    script part signature example:
    sof.tv.initCDNSeriesEvents(88431, 477, 1, 1, false, \'hdrezka-home.tv\', false, false,
    ( data-id, translation_id, season, episode ... )


    films include sof.tv.initCDNMoviesEvents text pattern
    */
    @init {
        init-script {
            css-all "script"
            filter {
                text-contains "sof.tv.initCDNSeriesEvents" "sof.tv.initCDNMoviesEvents"
            }
            first
            text
        }
    }

    @request REQUEST-ANIME
    @request name=from_url REQUEST-ANIME-FULL

    title { css ".b-post__title h1"; text }
    description {css ".b-post__description_text"; text }
    thumbnail { css "img[data-caption-title][src]"; attr src }
    favs { css "input#ctrl_favs[value]"; attr value }
    
    // EPISODE DATA
    translation-list { nested Translation }
    season_box { nested SeasonBox }
    episode_list { nested Episode }



    // first positional arg of initCDN(?:Series|Movies)Events(<id>, <translator_id>, ...)
    id { @init-script; re #"initCDN(?:Series|Movies)Events\(\s*(\d+)"#; to-int; fallback 0 }

    // second positional arg
    translation_id {
        @init-script
        re #"initCDN(?:Series|Movies)Events\(\s*\d+\s*,\s*(\d+)"#
        fallback ""
    }

}


json HdrezkaCdnResponse {
    success bool
    message str
    premium_content int
    url str
    quality str
    subtitle bool
    subtitle_lns bool
    subtitle_def bool
    thumbnails str
}

json HdrezkaCdnErrorResponse {
    success bool
    message str
}

(rest)struct HdrezkaCdnSeriesAPI {
    @request name=get-stream response=HdrezkaCdnResponse REQUEST-SOURCES

    @request name=get-movie response=HdrezkaCdnResponse REQUEST-SOURCES-MOVIE

    // { "success":false,"message": ... (non empty) }
    @error 200 HdrezkaCdnErrorResponse success=#false 
}
